@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    @Html.Label("Muhammad Abis")
    <br />
    @Html.Label("Shahbaz Ali")
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:shahbazaliengr@gmail.com">shahbazaliengr@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Abis@gmail.com">Abis@gmail.com</a>
</address>